@import url('css_parts/index_table_parts.css');
.body{
  background-color: rgb(39, 38, 37);
}
.container{
  max-width: 1500px;
}
.jumbotron  {
  color:white;
  background:url(top2.jpeg); 
  background-size:cover;
  text-align: center;
  margin-bottom: 0em;
}
.row{
  margin-top: 1.5em;
}
.col-3{
  border:  thin solid grey; 
}
 p{
  text-align: center;
}
 h6{
  margin-top: 10px;
  padding-left: 0.5em;
  border-left: solid 0.7em palevioletred;
}
.action_button{
  text-align: center; 
  margin: 10px;
}
.btn-success{
  margin-bottom: 30px;
}
form{
  margin-bottom:30px;
}
.btn-primary{
  margin-left: 10px;
}
.table{
  text-align: center;
}
.table td {
  width: 25%;
}