@import url('css_parts/table_parts.css');
@import url('css_parts/mypage_parts.css');

table{
  text-align: center;
}
.user_id {
  width: 15%;
}
.user_name {
  width: 70%;
}
.create_date  {
  width: 15%;
}
