.table_head{
  border:none;
  padding: 0.1em;
  background-color: #666;
  color: #FFF;
} 
.table td{
  vertical-align:middle;
  padding: .30em;
} 
 tr{
  border-bottom: 1px solid rgb(212, 212, 212)
} 
.shop_list {
  width: 60%;
}
.shop_list a{
  font-size: 20px;
  padding-left: 0.5em;
  border-left: solid 0.7em palevioletred;
}
.genre_city{
  text-align: center;
}
table .btn{
  font-size:14px ;
  width: 70%;
  margin: 2% 0;  
}
.delite{
  margin-top:15px ;
}
.detail{
  /* width: 90%; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  font-size:16px ;

}
.image_space{
  max-width: 60%;
  margin: auto;
  border: 1px solid gray;
  padding: 5px;
}
.table img{
  max-width: 100%;
}
