  .container{
    max-width: 600px;
  }
  label{
    margin-bottom:none;
  }
  h3{
    padding-top: 30px;
    text-align: center;
  }
  .blank{
    padding-bottom: 20px;
  }
  .submit{
    text-align: center;
    margin-top: 20px;
  }
  .btn-primary{
    padding: 0.375rem 5.375rem;
  }
  .control-label{
    padding-left: 0.5em;
    border-left: solid 0.7em palevioletred;    
  }